@{
    ViewData["Title"] = "Dogodki";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/dogodki.css" asp-append-version="true" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    <div>
        <table>
            <tr>
                <td>Dogodek</td>
                <td>Lokacija</td>
                <td>Datum</td>
            </tr>
            <hr>
            <tr>
                <td>Rod Steward</td>
                <td>Arena Stožice</td>
                <td>20.5.2024</td>
            </tr>
            <tr>
                <td>Ozzy Osbourne</td>
                <td>Wembley Stadium</td>
                <td>2.2.2024</td>
            </tr>
            <tr>
                <td>Jan Plestenjak</td>
                <td>Križanke</td>
                <td>28.12.2023</td>
            </tr>
            <tr>
                <td>Fehatrji</td>
                <td>Smučišče Kope</td>
                <td>15.12.2023</td>
            </tr>
            <tr>
                <td>Metalica</td>
                <td>AT&T Stadium</td>
                <td>18.8.2024</td>
            </tr>
        </table>
    </div>
</body>