@{
    ViewData["Title"] = "Home Page";
}
<style>
    p {
        color: black;
        text-align: center;
        font-size: 48px;
        font-weight: 100;
    }
    a{
        text-decoration: none;
    }
</style>
<div class="text-center">
    <p>Dobrodošli na spletni strani E-VSTOPNICE.<br>
    Stran prikazuje razne dogodke za katere ponujamo <a asp-action="Index" asp-controller="event">vstopnice.</a>
    </p>
</div>